
h1{
    color: rgba(0, 0, 255, 0.708);
    text-shadow: 1px 2px 1px rgb(194, 193, 193);
    margin-left: 5px;
}
h4{
    color: rgb(21, 107, 255);
    letter-spacing: 2px;
    margin-left: 5px; 
}
h3{
    color: rgb(21, 107, 255);
    margin-left: 5px;
}
footer{justify-content: right;
    margin-left: 5px;
display: flex;}
p{line-height: 20px;
    margin-left: 5px;}